ul.items {
	list-style-type: none;
	padding: 0px;
	margin: 16px 0px 0px 0px;
	border-top: 1px solid #e0e0e0;
}

ul.items li.item {
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
}

ul.items li.item:hover {
	background-color: #f0f0f0;
}

div.item-name {
	font-weight: bold;
}

div.search {
	padding: 0px;
	margin: 16px 0px 0px 0px;
	border-top: 1px solid #e0e0e0;
}

/* form */
form {
	margin: 0 auto;
	padding: 40px;
}

input {
	width: 60%;
	margin: 0 0 20px;
}

button {
	width: 60%;
	background: #000;
	color: #fff;
}
